html {
    height: 100%;
    /* background-color: blue; */
}

body {
    background: url('/media/octo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100% - 164px);
    font-family: 'Exo 2', sans-serif;
    color: white
}

.header-container {
    padding-top: 164px;
}

#maint {
    backdrop-filter: blur(8.99px);
    background: rgba(black, 0.66);
    color: white;
    position: relative;
    padding: 1rem;
    text-align: center;
}



@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

.btn {
    background-color: #6e2222;
    color: #fff;
    transition: all .7s;
    border-color: #f4e2e2;
}

.btn:hover {
    color: #6e2222;
    background-color: #f4e2e2;
    border-color: #6e2222;
}